.hidden {
  display: none!important;
}

body {
  background-image: url(../images/sailboat.jpg);
  background-size: cover;
}

/* BUTTONS */
.btn-container-past-trips {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
  padding-top: 25px;
}

.btn-container-pending-trips{
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
  margin-top: 50px;
}

.btn-container-destinations{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.btn-container-request-form{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 0px;
}

.btn-container-new-trips {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 5px;
}

.return-home-from-form-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  margin-right: 118px;
}
.submit-request-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  /* margin-top: 15px; */
}

.return-home-from-pending-btn,
/* .return-home-from-form-btn, */
.return-home-from-past-btn,
.return-home-from-new-btn,
.book-trip-past-trips-btn,
.past-trips-btn, 
.pending-trips-btn, 
.book-trip-btn,
.exit-destination-btn,
/* .submit-request-btn, */
.return-home-btn,
.book-trip-from-pending-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  margin-top: 15px;
}

.return-home-from-new-btn {
  margin-top: 0px;
  padding-top: 2px;
}

.login-btn {
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  justify-content: center;
  font-size: 20px;
  width: 70%;
}

.lets-go-btn {
  margin-top: 5px;
  font-family:'Cormorant Garamond', serif;
  font-size: 15px;
  cursor: pointer;
}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-top: 20px;
  background: rgba(225, 225, 225, 0.298);
}

.title {
  font-size: 40px;
}

.welcome-container {
  display: flex;
  align-items: center;
  font-family:  'Cormorant Garamond', serif;
  font-size: 40px;
  margin-left: 30px;
  margin-bottom: 40px
}

.announcements-login-container{
  display: flex;
}

.login-container {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  padding: 5px;
  
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  padding: 5px;
  
}
.announcements-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 20% */
}

.login-error-container {
  display: flex;
  height: 20%
}

.error-handling-login {
  display: flex;
  padding: 14px;
  font-family:  'Cormorant Garamond', serif;
  font-size: 17px;
}

.username-container,
.password-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.password-label-container,
.password-input-container {
  display: flex;
  margin-left: 2px;
}

label {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  font-weight: 600;
  padding-top: 2px;
}

#username-input,
#password-input,
#duration-input,
#travelers-input,
input[type=text] {
  cursor: pointer;
  line-height: 1.5rem;
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  font-weight: 600;
}

#start-date-input {
  cursor: pointer;
  line-height: 1.5rem;
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  font-weight: 600;
}

h1 {
  margin: 0px;
  font-size: 30px;
}

.announcements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 55px;
}

.welcome-user {
  display: flex;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.error-handling {
  display: flex;
  margin-right: 20px;
  margin-top: 0px;
}

/* DASHBOARD */
.dashboard-container {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: space-around;
  background: rgba(225, 225, 225, 0.298);
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
  font-family: 'Cormorant Garamond', serif;
  background: rgba(225, 225, 225, 0.791);
  align-items: center;
}

.travel-quote-placeholder-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 10px;
  font-size: 20px;
}

/* TRAVELER MENU */

.traveler-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%
}

.destination-container{
display: flex;
flex-direction: column;
align-items: center;
margin: 0px;
}

.trip {
  margin: 0px;
  font-size: 30px;
  font-family:'Cormorant Garamond', serif;
}

.detail {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.total-cost-display{
  display: flex;
  font-size: 20px;
  margin: 0px;
}


.trip-details-display,
.pending-trip-details-display{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 33vh;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin: 0px;
}

/* PAST TRIPS DASHBOARD */
.my-past-trips-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%
}

.all-trips-container{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 60%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

/* PENDING TRIPS DASHBOARD */

.my-trips-pending-container{
display: flex;
flex-direction: column;
align-items: center;
height: 100%;
width: 100%
}

.no-pending-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* REQUEST NEW TRIP FORM */
.request-trip-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.request-trip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%
}

.display-destination-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.choose-destination-container {
  display: flex;
  justify-content: center;
  height: 15%;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 1vw;
  grid-auto-rows: 15vh;
  grid-gap: 55px;
  height: 70%;
  width: 100%;
  overflow-y: scroll;
  margin: 0px;
}

.destination-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.destination-location-container {
  display: flex;
  background: rgba(225, 225, 225, 0.966);
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.destination-location {
  font-size: 20px;
  display: flex;
  margin: 0px;
  font-family:'Cormorant Garamond', serif;
}

.destination-flight,
.destination-lodging {
  display: flex;
  margin: 5px;
  font-family:'Raleway', sans-serif;
  font-size: 17px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-error-container{
  display: flex;
  justify-content: center;
  height: 25px;
}

.form-error-display{
  display: flex;
  font-size: 15px;
  margin-left: 24px;
}

/* CONFIRMATION DASHBOARD */
.location-container {
  display: flex;
  width: 100%;
  height: 35%;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 5px;
}

.location-image-container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
}

.location-image{
  display: flex;
  background-size: auto;
}

.location-title-container{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adventure-in {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

.date-container,
.duration-container,
.travelers-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  width: 100%;
  justify-content:center;
}

label {
  display: flex; 
  margin-right: 10px;
}

input {
  display: flex;
  width: 175px;
}

.display-new-trip-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.new-trip-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.your-trip-status{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family:'Cormorant Garamond', serif;
  font-size: 25px;
  margin: 0px;
}

.new-trip-details-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.your-trip-details{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family:'Cormorant Garamond', serif;
  font-size: 15px;
  margin: 0px;
}

.new-trip-image-container {
  align-items: center;
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: center;
}

.new-trip-image {
  display: flex;
  height: 285px;
  width: auto;
}








