.hidden {
  display: none!important;
}

body {
  background-image: url(../images/image-one.jpg);
  background-size: cover;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 150px;
  background: rgba(225, 225, 225, 0.298);
}

.title {
  font-size: 40px;
}

.welcome-container {
  display: flex;
  align-items: center;
  font-family:  'Cormorant Garamond', serif;
  font-size: 40px;
  margin-left: 15px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  padding: 5px;
  
}

.username-container,
.password-container,
.submit-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

#password-input, 
#username-input,
input[type=text] {
  cursor: pointer;
  line-height: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.login-btn {
  cursor: pointer;
  font-family:  'Cormorant Garamond', serif;
  justify-content: center;
  font-size: 20px;
  width: 100%;
}

h2 {
  margin: 0px;
  font-size: 30px;
}

.dashboard-container {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: space-around;
  background: rgba(225, 225, 225, 0.298);
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
  font-family: 'Cormorant Garamond', serif;
  background: rgba(225, 225, 225, 0.791);
}

.travel-quote-placeholder-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 10px;
  font-size: 20px;
}

.my-trips-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%
}

.all-trips-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  height: 60%;
  overflow-x: scroll;
  visibility: visible;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.trip-details-display {
  display: flex;
  margin-bottom: 18px;
}

.destination-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
}

.trip {
  margin: 0px;
  font-size: 30px;
  font-family:'Cormorant Garamond', serif;
}

.detail {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.trip-cost-container{
  display: flex;
}

.total-cost-display{
  display: flex;
  font-size: 20px;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.book-trip-btn{
  cursor: pointer;
  font-family:  'Cormorant Garamond', serif;
  font-size: 20px;
  width: 100%;
}

.request-trip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%
}

.request-trip-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.date-container,
.duration-container,
.travelers-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  width: 100%;
  justify-content: center;
}

.submit-request-container,
.return-home-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 30px;
  width: 100%;
  justify-content: center;
}

label {
  display: flex; 
  margin-right: 10px;
}
input {
  display: flex;
  width: 150px;
}

.submit-request-btn {
  cursor: pointer;
  font-family:  'Cormorant Garamond', serif;
  font-size: 20px;
}

.return-home-btn {
  cursor: pointer;
  font-family:  'Cormorant Garamond', serif;
  font-size: 20px;
}